.home {
  width: 100%;
  height: 100%;
  background: #e2e3e5;
  position: absolute;
  display: table;
}

.home-content {
  display: table-cell;
  vertical-align: middle;
}

.home-treasure {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.home-treasure-title {
  margin-bottom: 24px;
}

@media screen and (min-width: 1920px) {
  .home-treasure {
    width: 20%;
  }
}

@media screen and (min-width: 1440px) {
  .home-treasure {
    width: 35%;
  }
}

@media screen and (max-width: 1080px) {
  .home-treasure {
    width: 65%;
  }
}

@media screen and (max-width: 860px) {
  .home-treasure {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .home-treasure {
    width: 95%;
  }
}
