@import java.util
@import service.treasure.TreasureResource

@(dataList: util.List[TreasureResource])

  @main("Woof") {
    <div id="wrapper">
      <div class="container-fluid">
          <!-- TABLE HOVER -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Woof 藏宝箱</h3>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>项目</th>
                  <th>简介</th>
                  <th>链接</th>
                </tr>
              </thead>
              <tbody>
              @for(data <- dataList) {
                <tr>
                  <td>@data.id</td>
                  <td>@data.name</td>
                  <td>@data.description</td>
                  <td>@data.link</td>
                </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
          <!-- END TABLE HOVER -->
      </div>
    </div>
  }
